*.idea
*.vscode
cmake-build-debug
cmake-build-release
conan_external
CMakeUserPresets.json
/variant_12_sidak/task_3/task_3.iml
/variant_12_sidak/variant_12_sidak.iml
/variant_12_sidak/task_4/task_4.iml
/out/
